Django==5.0.0
python-dotenv
django-phonenumbers
black
flake8
isort
pre-commit
django-jazzmin
django-modeltranslation
django-phonenumber-field
djangorestframework
drf-yasg
psycopg2-binary
django-rosetta
djangorestframework-simplejwt
django-ckeditor-5
sentry-sdk
google-auth==2.32.0
facebook-sdk==3.1.0
sentry-sdk==2.13.0
setuptools
